.jet-woo-quantity-button-added {
	display: inline-flex !important;

	&.direction-vertical {
		flex-direction: column-reverse;
	}

	&.direction-vertical,
	&.direction-horizontal {
		.jet-woo-qty-control {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&.direction-top,
	&.direction-bottom {
		flex-direction: column;

		.jet-woo-qty-controls-holder {
			flex-direction: row-reverse;

			.jet-woo-qty-control {
				max-width: 50%;
			}
		}
	}

	&.direction-start,
	&.direction-end {
		.jet-woo-qty-controls-holder {
			flex-direction: column;

			.jet-woo-qty-control {
				max-width: 100%;
			}
		}
	}

	.jet-woo-qty-controls-holder {
		display: flex;

		.jet-woo-qty-control {
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 0 0 50%;
		}
	}

	.jet-woo-qty-control i {
		width: 1em;
		height: 1em;
		position: relative;
		display: block;
	}

	input.qty::-webkit-outer-spin-button,
	input.qty::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type=number].qty {
		-moz-appearance: textfield;
	}
}